body, html{
    padding: 0;
    margin: 0;
}

.block_fields{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 300px;
    margin-bottom: 150px;
}

.fields{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 30px;
}

.name_field{
    font-size: 25px;
    font-family: sans-serif;
}

.input_field{
    width: 250px;
    height: 30px;
    position: absolute;
    right: 0;
    border: black 2px solid;
    border-radius: 10px;
}

.block-buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
}

.button-send, .button-show{
    margin-top: 10px;
    width: 100px;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
}

.button-send, .button-show{
    margin-top: 25px;
    width: 200px;
    height: 40px;
    border: 2px black solid;
    border-radius: 10px;
    font-size: 25px;
}