{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devises</title>
    <link rel="stylesheet" href="{% static 'getdates\css\main site page.css' %}">
</head>
<body>
    <form action="" method="post">
        <div class="block_fields">
            {% csrf_token %}
            {% for fiels in form %}
                <div class="fields">
                    <span class="name_field">{{ fiels.label_tag}}</span>
                    {{ fiels}}
                </div>
            {% endfor %}
            <div class="block-buttons">
                <input class="button-send" type="submit" value="Записать">  <!-- добавить данные в бд -->
                <button class="button-send" type="submit" name="functionality check">Проверка</button> <!-- показать данные о устройстве-->
            </div>
        </div>
    </form>
</body>
</html>